body{
    margin: 0px;
    padding: 0px;
    font-family:fantasy;
}
.navContainer{
    display: flex;
    padding: 10px;
    gap: 600px;
    background-color: rgb(56, 29, 0);
    align-items: center;
    width: 100vw;
}
.leftBar{
    display: flex;
    align-items: center;
    position: relative;
    left: 60px;

}
.rightBar{
    display: flex;
    gap: 60px;
    
    
    
}
.navImg{
    size-adjust: 20%;
}
.navCofee{
    color: white;
    font-size: 30px;
    
    
}
a{
    color: white;
    text-decoration: none;
}
img{
    height: 50px;
}